.About {
    width: 100vw;
    height: 100vh;
    background-image: url(https://s25.picofile.com/file/8451911668/BeFunky_photo.png);
    background-size: cover;
    background-position: center;
}

.part1-About {
    position: relative;
    width: 95vw;
    height: 90vh;
    background-color: #1a1a1a;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    text-align: right;
    direction: rtl;
    padding: 7px;
}

.part1-About p {
    position: relative;
    width: 95%;
    top: 20px;
    margin: 0 auto;
}

.conect-About {
    top: 20px;
    position: relative;
    /* background-color: pink; */
    direction: ltr;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.itemConnect-About {
    position: relative;
    background-size: cover;
    display: flex;
    margin-top: 20px;
    margin-left: 10px
}

.icon-About {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* background-color: red; */
}

#mobileIcon-About {
    background-image: url(https://s24.picofile.com/file/8453132900/telephone_2_.png);
    background-size: cover;
}

#emailIcon-About {
    background-image: url(https://s24.picofile.com/file/8453132892/gmail.png);
    background-size: 90%;
    background-position: center;
}

.text-About {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* background-color: red; */
    direction: ltr;
}

.text-About div {
    /* background-color: green; */
    text-align: left;
    margin-left: 5px;
    font-size: small;
    font-weight: 600;
}