#iconMaL-Adv {
    background-image: url(https://asmart.ir/application/asset/icon/adminW.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconMa-Adv {
    background-image: url(https://asmart.ir/application/asset/icon/adminB.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconAjL-Adv {
    background-image: url(https://asmart.ir/application/asset/icon/alertW.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconAj-Adv {
    background-image: url(https://asmart.ir/application/asset/icon/alertB.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconZo-Adv {
    background-image: url(https://s24.picofile.com/file/8452602268/time_zone.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconZoL-Adv {
    background-image: url(./public/test1/time-zone\ \(2\).png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconOt-Adv {
    background-image: url(https://s24.picofile.com/file/8452602268/time_zone.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconOtL-Adv {
    background-image: url(./public/test1/time-zone\ \(2\).png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconRe-Adv {
    background-image: url(https://s24.picofile.com/file/8452602218/remote_control_1_.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconReL-Adv {
    background-image: url(public/test1/remote-control\ \(3\).png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconOuL-Adv {
    background-image: url(./public/test1/laptop\ \(3\).png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#iconOu-Adv {
    background-image: url(https://s25.picofile.com/file/8452602184/laptop_1_.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}