.part-AdvOu {
    border: 1pt solid gray;
    border-radius: 10px;
    width: 96%;
    margin: 0 auto;
    background-color: #1a1a1a;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 5px;
}

.title-AdvOu {
    border-bottom: 1pt solid #0afc96;
}

.selector-AdvOu {
    border-bottom: 1pt solid #0afc96;
}